:root {
	--sudoku-size: min(95dvh, 95dvw);
	--controls-size: calc(var(--sudoku-size) / 2);
}

#controls {
	position: fixed;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	z-index: 1000;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#grid {
	display: grid;
	width: var(--sudoku-size);
	/* background: lightseagreen; */
	aspect-ratio: 1/1;
	grid-gap: 1px;
	/* border: 2px solid lightseagreen; */
}

/* styling cell below */
#grid div {
	background-color: var(--bs-info-bg-subtle);
	transition: background-color 0.2s ease;
	width: auto;
	aspect-ratio: 1/1;
}

#grid div.living {
	background-color: black;
}
